#game{

    position:relative;

    width:100vw;

    height:100vh;

    overflow:hidden;

}

#gameBackground{

    position:absolute;

    width:100%;
    height:100%;

    object-fit:cover;

}

/* ===========================
   CHESTS
=========================== */

#chests{
    position:absolute;
    width:100%;
    height:100%;
}

.chest-box{
    position:absolute;
    width:180px;
    left:45%;
    bottom:10px;
    transition:transform .45s cubic-bezier(.22,.61,.36,1);
}
.chest-box:hover{

    transform: scale(1.03);

}

#box1{

    transform:translateX(-300px);

}

#box2{

    transform:translateX(0);

}

#box3{

    transform:translateX(300px);

}

.chest{

    width:180px;

    cursor:pointer;

    transition:.3s;

}

.chest:hover{

    transform:translateY(-10px);

}
.sparkle{

    position:fixed;

    width:12px;

    height:12px;

    border-radius:50%;

    background:gold;

    pointer-events:none;

    animation:sparkle .8s forwards;

    z-index:9999;

}

@keyframes sparkle{

    from{

        opacity:1;

        transform:translate(0,0) scale(1);

    }

    to{

        opacity:0;

        transform:
            translate(var(--dx), var(--dy))
            scale(0);

    }

}
.shake{

    animation:shake .45s;

}

@keyframes shake{

    0%{transform:translateX(0);}
    10%{transform:translateX(-12px);}
    20%{transform:translateX(12px);}
    30%{transform:translateX(-10px);}
    40%{transform:translateX(10px);}
    50%{transform:translateX(-8px);}
    60%{transform:translateX(8px);}
    70%{transform:translateX(-6px);}
    80%{transform:translateX(6px);}
    90%{transform:translateX(-3px);}
    100%{transform:translateX(0);}
}